body header {
  position: relative;
  background-color: #000; }

body header .content {
  position: relative; }

body header .game {
  opacity: 0.8;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; }

body header .game .clouds {
  left: 0;
  position: absolute;
  height: 64px;
  width: 100%;
  background-image: url("../images/clouds.png");
  top: 8px; }

body header .game .sky {
  left: 0;
  position: absolute;
  height: 64px;
  width: 100%;
  bottom: 128px;
  background-image: url("../images/sky.png"); }

body header .game .fence {
  left: 0;
  position: absolute;
  height: 64px;
  width: 100%;
  bottom: 64px;
  background-image: url("../images/fence.png"); }

body header .game .hero {
  left: 0;
  position: absolute;
  height: 64px;
  width: 100%;
  bottom: 64px;
  background-image: url("../images/hero.png");
  left: 64px;
  width: 64px; }

body header .game .ground {
  left: 0;
  position: absolute;
  height: 64px;
  width: 100%;
  bottom: 0;
  background-image: url("../images/ground.png"); }
